{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}	
	<h2 id="banner">Burgers, Ribs, Pasta, and Seafood all made with unique homemade flair</h2>
	
	<div id="content">
	
	<div id="sidebar">
		<img src="../Images/kettle-creek.jpg" alt="Kettle Creek" />
		<h3>Kettle Creek</h3>
		<p>1150 N. Bardstown Road <br />
		Mount Washington, KY <br />
		502-538-8403 <br />
		Owners: Josh and Lyn Spalding </p>
	</div><!-- end sidebar division -->	
	<div id="content2">
		<h1> Ligtning Hits Kettle Creek</h1>
		<p><span class="date">Sat, 4-16-2011:</span>  On Saturday a bolt of lightning struck the 
		roof of Kettle Creek. This caused the transform to overload, which started a fire. The 
		fire spread throughout the restuaruant, and did serve damage. As a result Kettle Creek 
		is closed indefiently. The owner hopes to have it back open as soon as possible.</p>
		<table>
		<tr>
		<td><a href="/Images/Creek1.jpg" rel="Creek"><img src="/Images/Kettle1.jpg" /></a></td>
		<td><a href="/Images/Creek2.jpg" rel="Creek"><img src="/Images/Kettle2.jpg" /></a></td>
		<td><a href="/Images/Creek3.jpg" rel="Creek"><img src="/Images/Kettle3.jpg" /></a></td>
		</tr>
		</table>
		
		<h2>The Dinning Room</h2>
		<p class="text">Enjoy a entertaining and relaxing evening in a luxurious dinning room. Our friendly waiters
			and waitress are eager to provide exceptionaly service from the moment you walk in the door,
			to when you leave after enjoying one of our delicous meals. Our small size allows for a 
			more personal and fun experience not found other restaurants. So, come in and enjoy
			a fun and unique meal.</p>

		<h2>Sport Bar</h2>
		<p class="text">Join us for a few drinks in Kettle Creek bar and grill. Our friendly customers
		and bartenders make for an entertaining night for everyone. Sports fans, come in and enjoy watching
		your favorite teams play on one oour many HD TV. </p> 
		</div>
	</div> <!-- end content division -->

{% endblock %}